@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #111;
  color: #bbb;
}
a { 
  text-decoration: none;
  color: inherit;
}

.container {
 @apply m-0 m-auto w-[1366px] pt-0 pb-[60px] flex flex-col justify-between;
}

.icon {
  @apply opacity-90 cursor-pointer;
}
